<div class="mat-elevation-z8">
  <h2><a routerLink="/profil/detail" *ngIf="userPermission">Ajouter une profil</a></h2>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
  </mat-form-field>
  <mat-table [dataSource]="dataSource" matSort class="demo-table">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
      <mat-cell *matCellDef="let profil of profils"> {{profil.id}} </mat-cell>
    </ng-container>

    <!-- Libelle Column -->
    <ng-container matColumnDef="libelle">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Libelle </mat-header-cell>
      <mat-cell *matCellDef="let profil of profils"> {{profil.libelle}} </mat-cell>
    </ng-container>

    <!-- Update Column -->
    <ng-container matColumnDef="update" *ngIf="userPermission">
      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
      <mat-cell *matCellDef="let profil of profils">
        <a routerLink="/profil/detail/{{profil.id}}" class="btn btn-primary">update</a>
      </mat-cell>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete" *ngIf="userPermission">
      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
      <mat-cell *matCellDef="let profil of profils">
        <button type="button" class="btn btn-danger" (click)="deleteProfil(profil.id!)">delete</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row (click)="logData(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>



