<div class="mat-elevation-z8">
  <h2><a routerLink="/participant/detail" *ngIf="adminPermission">Ajouter une participant</a></h2>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
  </mat-form-field>
  <mat-table [dataSource]="dataSource" matSort class="demo-table">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
      <mat-cell *matCellDef="let participant of participants"> {{participant.id}} </mat-cell>
    </ng-container>

    <!-- Nom Column -->
    <ng-container matColumnDef="nom">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nom </mat-header-cell>
      <mat-cell *matCellDef="let participant of participants"> {{participant.nom}} </mat-cell>
    </ng-container>


    <!-- Prenom Column -->
    <ng-container matColumnDef="prenom">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Prenom </mat-header-cell>
      <mat-cell *matCellDef="let participant of participants"> {{participant.prenom}} </mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
      <mat-cell *matCellDef="let participant of participants"> {{participant.email}} </mat-cell>
    </ng-container>

    <!-- Telephone Column -->
    <ng-container matColumnDef="tel">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Telephone </mat-header-cell>
      <mat-cell *matCellDef="let participant of participants"> {{participant.tel}} </mat-cell>
    </ng-container>

    <!-- Organisme Column -->
    <ng-container matColumnDef="organisme">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Organisme </mat-header-cell>
      <mat-cell *matCellDef="let participant of participants"> {{participant.organisme?.libelle}} </mat-cell>
    </ng-container>

    <!-- Pays Column -->
    <ng-container matColumnDef="pays">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Pays </mat-header-cell>
      <mat-cell *matCellDef="let participant of participants"> {{participant.pays?.nom}} </mat-cell>
    </ng-container>

    <!-- Profile Column -->
    <ng-container matColumnDef="profil">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Profile </mat-header-cell>
      <mat-cell *matCellDef="let participant of participants"> {{participant.profil?.libelle}} </mat-cell>
    </ng-container>

    <!-- Update Column -->
    <ng-container matColumnDef="update" >
      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
      <mat-cell *matCellDef="let participant of participants">
        <a routerLink="/participant/detail/{{participant.id}}" *ngIf="adminPermission" class="btn btn-primary">update</a>
      </mat-cell>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete" >
      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
      <mat-cell *matCellDef="let participant of participants">
        <button type="button" class="btn btn-danger" *ngIf="adminPermission" (click)="deleteParticipant(participant.id!)">delete</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row (click)="logData(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<div class="row">
  <div class="col col-md-6">
      <app-profil></app-profil>
  </div>
  <div class="col col-md-6">
      <app-pays></app-pays>
  </div>
</div>

