
  <div *ngIf="adminPermission">
    <h3><a routerLink="/organisme/detail" *ngIf="adminPermission"> ajouter une organisme</a></h3>
    <table class="table">
        <thead class="thead-dark">
            <tr>
            <th scope="col">id</th>
            <th scope="col">libelle</th>

            <th scope="col" *ngIf="adminPermission">update</th>
            <th scope="col" *ngIf="adminPermission">delete</th>
            </tr>
        </thead>
        <tbody *ngFor="let organisme of organismes">
    
            <tr>
            <th scope="row">{{organisme.id}}</th>
            <td>{{organisme.libelle}}</td>
            
            <td><a routerLink="/organisme/detail/{{organisme.id}}">update</a></td>
            <td><button type="button" class="btn btn-danger" (click)="deleteOrganisme(organisme.id!)">delete</button></td>
            </tr>

        </tbody>
    </table>
</div>

 