
  
  <h3><a routerLink="/formation/detail" *ngIf="adminPermission"> ajouter une formation</a></h3>
  <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">id</th>
          <th scope="col">titre</th>
          <th scope="col">annee</th>
          <th scope="col">budget</th>
          <th scope="col">nb_session</th>
          <th scope="col">duree</th>
          <th scope="col">domaine</th>
          <th scope="col" *ngIf="adminPermission">update</th>
          <th scope="col" *ngIf="adminPermission">delete</th>
        </tr>
      </thead>
      <tbody *ngFor="let formation of formations">
 
        <tr>
          <th scope="row">{{formation.id}}</th>
          <td>{{formation.titre}}</td>
          <td>{{formation.annee}}</td>
          <td>{{formation.budget}}</td>
          <td>{{formation.nb_session}}</td>
          <td>{{formation.duree}}</td>
          <td>{{formation.domaine?.libelle}}</td>
          <td *ngIf="adminPermission"><a routerLink="/formation/detail/{{formation.id}}">update</a></td>
          <td *ngIf="adminPermission"><button type="button" class="btn btn-danger" (click)="deleteFormation(formation.id!)">delete</button></td>
        </tr>

      </tbody>
    </table>

 
    
